<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Neo Culture Technology</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">NCT 2018</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NCT 2020</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>


<div class="accordion" id="accordionExample">
  <div class="card">

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        • Neo got my back
      </div>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        • Culture things
      </div>
    </div>


    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        • Tech tech
      </div>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        • On my mind
      </div>
    </div>

  </div>

</div>

<br>
<br>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Haechan</td>
      <td>Yuta</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hendery</td>
      <td>Shotaro</td>
      <td>Sungchan</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Taeyong</td>
      <td>Johnny</td>
      <td>Lucas</td>
    </tr>
  </tbody>
</table>

<br>
<br>


<div class="container">
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="Senha">Senha</label>
      </div>
      <textarea id="senha" class="form-control"></textarea>

      <br>

      <button type="button" class="btn btn-primary">Enviar</button>
    </form>
</div>

<br>
<br>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/NCT1.jpg">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/NCT2.jpg">
      </div>
    </div>
  </div>
</div>

<br>
<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Maisa Dias Micadei</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Desenvolvimento de Sistemas</a>
      </li>
    </ul>
    <span class="navbar-text">
      2021
    </span>
  </div>
</nav>

<router-outlet></router-outlet>
